## **Importing libraries**

In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'html')
table = soup.find_all('table')[0] 
df_can = pd.read_html(str(table))[0]

## **Printing top 5**

In [8]:
df_can.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## **Checking for any null values**

In [9]:
df_nv = df_can.isnull()
for column in df_nv.columns.values.tolist():
    print (column)
    print (df_nv[column].value_counts())
    print("")

Postal Code
False    180
Name: Postal Code, dtype: int64

Borough
False    180
Name: Borough, dtype: int64

Neighborhood
False    180
Name: Neighborhood, dtype: int64

## **Values "not assigned" in Borough dropped**

In [10]:
df = df_can[df_can['Borough']=="Not assigned"].index
df_can.drop(df,inplace = True)
df_can.reset_index(drop=True,inplace = True)

In [7]:
df_can.head(20)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights
15,M5C,Downtown Toronto,St. James Town
16,M6C,York,Humewood-Cedarvale
17,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe..."
18,M1E,Scarborough,"Guildwood, Morningside, West Hill"
19,M4E,East Toronto,The Beaches

## **Checking if there is any value of "Not assigned" in Neighborhood**

In [11]:
df_can.loc['Neighborhood':"Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

## **Number of rows and columns**

In [12]:
df_can.shape

(103, 3)

## **Creating dataframe for latitudes and longitudes**

In [13]:
df_coor = pd.read_csv("https://cocl.us/Geospatial_data")
df_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## **Checking for NULL values**

In [14]:
df_NV = df_coor.isnull()
for column in df_NV.columns.values.tolist():
    print (column)
    print (df_NV[column].value_counts())
    print("")

Postal Code
False    103
Name: Postal Code, dtype: int64

Latitude
False    103
Name: Latitude, dtype: int64

Longitude
False    103
Name: Longitude, dtype: int64

## **Merging the two dataframe based on Postal Code**

In [15]:
df_can = pd.merge(df_can,df_coor,on = 'Postal Code',how='inner')
df_can.head(20)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
13,M3C,North York,Don Mills,43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389
15,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
16,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
17,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",43.643515,-79.577201
18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
19,M4E,East Toronto,The Beaches,43.676357,-79.293031

In [3]:
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-2.0.0                |     pyh9f0ad1d_0          63 KB  conda-forge
    openssl-1.1.1g             |       h516909a_0         2.1 MB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    certifi-2020.6.20          |   py36h9f0ad1d_0         151 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ca-certificates-2020.6.20  |       hecda079_0         145 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0          conda-forge
    geopy:           2.0.0-pyh9f0ad1d_0 conda-forge
    python_abi:      3.6-1_cp36m        conda-forge

The following packages will be UPDATED:

    certifi:         2020.6.20-py36_0               --> 2020.6.20-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1g-h7b6447c_0              --> 1.1.1g-h516909a_0        conda-forge

The following packages will be DOWNGRADED:

    ca-certificates: 2020.6.24-0                    --> 2020.6.20-hecda079_0     conda-forge


Downloading and Extracting Packages
geopy-2.0.0          | 63 KB     | ##################################### | 100%
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
certifi-2020.6.20    | 151 KB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
ca-certificates-2020 | 145 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [20]:
address = 'North York'

geolocator = Nominatim(user_agent="to_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of North York are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of North York are 43.7543263, -79.44911696639593.

In [24]:
NY_data = df_can[df_can['Borough'] == 'North York'].reset_index(drop=True)
NY_data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
3,M3B,North York,Don Mills,43.745906,-79.352188
4,M6B,North York,Glencairn,43.709577,-79.445073

In [22]:
CLIENT_ID = '1T2KE0DYW1LHHFUYNAVZV5EKTBX2GZBJZDV3YLIAOQL4V2K2' # your Foursquare ID
CLIENT_SECRET = 'DE0YE2NSTQ2OCBZI3TIR4KCBCR3XYKOJLR03CC0ECXNXVHPE' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 1T2KE0DYW1LHHFUYNAVZV5EKTBX2GZBJZDV3YLIAOQL4V2K2
CLIENT_SECRET:DE0YE2NSTQ2OCBZI3TIR4KCBCR3XYKOJLR03CC0ECXNXVHPE

In [25]:
NY_data.loc[0, 'Neighborhood']

'Parkwoods'

In [26]:
neighborhood_latitude = NY_data.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = NY_data.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = NY_data.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Parkwoods are 43.7532586, -79.3296565.

In [27]:
LIMIT = 10 # limit of number of venues returned by Foursquare API

radius = 500 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=1T2KE0DYW1LHHFUYNAVZV5EKTBX2GZBJZDV3YLIAOQL4V2K2&client_secret=DE0YE2NSTQ2OCBZI3TIR4KCBCR3XYKOJLR03CC0ECXNXVHPE&v=20180605&ll=43.7532586,-79.3296565&radius=500&limit=10'

In [28]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5f1132989503fd4cb47ad0b9'},
 'response': {'headerLocation': 'Parkwoods - Donalda',
  'headerFullLocation': 'Parkwoods - Donalda, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 4,
  'suggestedBounds': {'ne': {'lat': 43.757758604500005,
    'lng': -79.32343823984928},
   'sw': {'lat': 43.7487585955, 'lng': -79.33587476015072}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e8d9dcdd5fbbbb6b3003c7b',
       'name': 'Brookbanks Park',
       'location': {'address': 'Toronto',
        'lat': 43.751976046055574,
        'lng': -79.33214044722958,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.751976046055574,
          'lng': -79.33214044722958}],
        'distance': 245,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e8d9dcdd5fbbbb6b3003c7b-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e42684718a8627fce453c01',
       'name': 'TTC stop #8380',
       'location': {'address': 'Underhill Dr',
        'crossStreet': 'At Cassandra N',
        'lat': 43.752672,
        'lng': -79.326351,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.752672,
          'lng': -79.326351}],
        'distance': 273,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Underhill Dr (At Cassandra N)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '52f2ab2ebcbc57f1066b8b4f',
         'name': 'Bus Stop',
         'pluralName': 'Bus Stops',
         'shortName': 'Bus Stop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/busstation_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e42684718a8627fce453c01-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4cb11e2075ebb60cd1c4caad',
       'name': 'Variety Store',
       'location': {'address': '29 Valley Woods Road',
        'lat': 43.75197441585782,
        'lng': -79.33311418516017,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.75197441585782,
          'lng': -79.33311418516017}],
        'distance': 312,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['29 Valley Woods Road', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1f9941735',
         'name': 'Food & Drink Shop',
         'pluralName': 'Food & Drink Shops',
         'shortName': 'Food & Drink',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/foodanddrink_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4cb11e2075ebb60cd1c4caad-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '53622a89498ed84d6853265e',
       'name': 'TTC stop - 44 Valley Woods',
       'location': {'address': '44 Valley Woods Rd',
        'lat': 43.75540238129278,
        'lng': -79.33374133300899,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.75540238129278,
          'lng': -79.33374133300899}],
        'distance': 405,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['44 Valley Woods Rd', 'Toronto ON', 'Canada']},
       'categories': [{'id': '52f2ab2ebcbc57f1066b8b4f',
         'name': 'Bus Stop',
         'pluralName': 'Bus Stops',
         'shortName': 'Bus Stop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/busstation_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-53622a89498ed84d6853265e-3'}]}]}}

In [29]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [33]:
import json
import requests # library to handle requests
from pandas.io.json import json_normalize

In [34]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                         name         categories        lat        lng
0             Brookbanks Park               Park  43.751976 -79.332140
1              TTC stop #8380           Bus Stop  43.752672 -79.326351
2               Variety Store  Food & Drink Shop  43.751974 -79.333114
3  TTC stop - 44 Valley Woods           Bus Stop  43.755402 -79.333741

In [35]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [36]:
NorthYork_venues = getNearbyVenues(names=NY_data['Neighborhood'],
                                   latitudes=NY_data['Latitude'],
                                   longitudes=NY_data['Longitude']
                                  )

Parkwoods
Victoria Village
Lawrence Manor, Lawrence Heights
Don Mills
Glencairn
Don Mills
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Fairview, Henry Farm, Oriole
Northwood Park, York University
Bayview Village
Downsview
York Mills, Silver Hills
Downsview
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Willowdale, Newtonbrook
Downsview
Bedford Park, Lawrence Manor East
Humberlea, Emery
Willowdale, Willowdale East
Downsview
York Mills West
Willowdale, Willowdale West

In [39]:
NorthYork_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Bathurst Manor, Wilson Heights, Downsview North",10,10,10,10,10,10
Bayview Village,4,4,4,4,4,4
"Bedford Park, Lawrence Manor East",10,10,10,10,10,10
Don Mills,15,15,15,15,15,15
Downsview,17,17,17,17,17,17
"Fairview, Henry Farm, Oriole",10,10,10,10,10,10
Glencairn,4,4,4,4,4,4
Hillcrest Village,4,4,4,4,4,4
Humber Summit,2,2,2,2,2,2
"Humberlea, Emery",2,2,2,2,2,2
"Lawrence Manor, Lawrence Heights",10,10,10,10,10,10
"North Park, Maple Leaf Park, Upwood Park",5,5,5,5,5,5
"Northwood Park, York University",7,7,7,7,7,7
Parkwoods,4,4,4,4,4,4
Victoria Village,4,4,4,4,4,4
"Willowdale, Willowdale East",10,10,10,10,10,10
"Willowdale, Willowdale West",7,7,7,7,7,7
York Mills West,3,3,3,3,3,3

In [40]:
# one hot encoding
NY_onehot = pd.get_dummies(NorthYork_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
NY_onehot['Neighborhood'] = NorthYork_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [NY_onehot.columns[-1]] + list(NY_onehot.columns[:-1])
NY_onehot = NY_onehot[fixed_columns]

NY_onehot.head()

,Neighborhood,Accessories Store,Airport,American Restaurant,Asian Restaurant,Athletics & Sports,Bakery,Bank,Bar,Baseball Field,...,Sandwich Place,Shopping Mall,Sporting Goods Shop,Steakhouse,Sushi Restaurant,Tea Room,Thai Restaurant,Toy / Game Store,Trail,Vietnamese Restaurant
0,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Victoria Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
NY_grouped = NY_onehot.groupby('Neighborhood').mean().reset_index()
NY_grouped

,Neighborhood,Accessories Store,Airport,American Restaurant,Asian Restaurant,Athletics & Sports,Bakery,Bank,Bar,Baseball Field,...,Sandwich Place,Shopping Mall,Sporting Goods Shop,Steakhouse,Sushi Restaurant,Tea Room,Thai Restaurant,Toy / Game Store,Trail,Vietnamese Restaurant
0,"Bathurst Manor, Wilson Heights, Downsview North",0.0,0.000000,0.0,0.00,0.000000,0.0,0.100000,0.000000,0.000000,...,0.1,0.000000,0.000000,0.0,0.1,0.0,0.0,0.0,0.0,0.000000
1,Bayview Village,0.0,0.000000,0.0,0.00,0.000000,0.0,0.250000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,"Bedford Park, Lawrence Manor East",0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.1,0.0,0.1,0.0,0.0,0.000000
3,Don Mills,0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.066667,...,0.0,0.000000,0.066667,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,Downsview,0.0,0.058824,0.0,0.00,0.058824,0.0,0.058824,0.000000,0.058824,...,0.0,0.058824,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
5,"Fairview, Henry Farm, Oriole",0.0,0.000000,0.1,0.00,0.000000,0.1,0.000000,0.000000,0.000000,...,0.0,0.100000,0.000000,0.0,0.0,0.1,0.0,0.1,0.0,0.000000
6,Glencairn,0.0,0.000000,0.0,0.25,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
7,Hillcrest Village,0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
8,Humber Summit,0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
9,"Humberlea, Emery",0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.500000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
10,"Lawrence Manor, Lawrence Heights",0.1,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.100000
11,"North Park, Maple Leaf Park, Upwood Park",0.0,0.000000,0.0,0.00,0.000000,0.2,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.2,0.000000
12,"Northwood Park, York University",0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.142857,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.142857
13,Parkwoods,0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
14,Victoria Village,0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
15,"Willowdale, Willowdale East",0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.1,0.0,0.0,0.0,0.0,0.0,0.000000
16,"Willowdale, Willowdale West",0.0,0.000000,0.0,0.00,0.000000,0.0,0.142857,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
17,York Mills West,0.0,0.000000,0.0,0.00,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [42]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [44]:
import numpy as np 
import pandas as pd
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans

In [46]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = NY_grouped['Neighborhood']

for ind in np.arange(NY_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(NY_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Bathurst Manor, Wilson Heights, Downsview North",Coffee Shop,Middle Eastern Restaurant,Sushi Restaurant,Deli / Bodega,Bridal Shop,Bank,Sandwich Place,Restaurant,Ice Cream Shop,Vietnamese Restaurant
1,Bayview Village,Chinese Restaurant,Japanese Restaurant,Bank,Café,Vietnamese Restaurant,Construction & Landscaping,Chocolate Shop,Clothing Store,Coffee Shop,Comfort Food Restaurant
2,"Bedford Park, Lawrence Manor East",Restaurant,Comfort Food Restaurant,Juice Bar,Italian Restaurant,Indian Restaurant,Pub,Coffee Shop,Café,Sushi Restaurant,Thai Restaurant
3,Don Mills,Japanese Restaurant,Gym,Baseball Field,Restaurant,Italian Restaurant,Clothing Store,Coffee Shop,Bike Shop,Beer Store,Caribbean Restaurant
4,Downsview,Business Service,Grocery Store,Park,Baseball Field,Electronics Store,Discount Store,Gym / Fitness Center,Home Service,Hotel,Food Truck

In [48]:
# set number of clusters
kclusters = 5

NY_clustering = NY_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(NY_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 4, 2], dtype=int32)

In [56]:
!conda install -c conda-forge folium=0.5.0 --yes

Solving environment: \ ^C
failed

CondaError: KeyboardInterrupt

In [51]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(NY_merged['Latitude'], NY_merged['Longitude'], NY_merged['Neighborhood'], NY_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

NameError: name 'folium' is not defined

In [57]:
NY_merged.loc[NY_merged['Cluster Labels'] == 0, NY_merged.columns[[1] + list(range(5, NY_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,North York,0.0,Pizza Place,Hockey Arena,Portuguese Restaurant,Coffee Shop,Vietnamese Restaurant,Comfort Food Restaurant,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store
2,North York,0.0,Clothing Store,Vietnamese Restaurant,Furniture / Home Store,Boutique,Coffee Shop,Event Space,Accessories Store,Sporting Goods Shop,Sushi Restaurant,Dog Run
3,North York,0.0,Japanese Restaurant,Gym,Baseball Field,Restaurant,Italian Restaurant,Clothing Store,Coffee Shop,Bike Shop,Beer Store,Caribbean Restaurant
4,North York,0.0,Asian Restaurant,Pizza Place,Japanese Restaurant,Pub,Vietnamese Restaurant,Coffee Shop,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store
5,North York,0.0,Japanese Restaurant,Gym,Baseball Field,Restaurant,Italian Restaurant,Clothing Store,Coffee Shop,Bike Shop,Beer Store,Caribbean Restaurant
6,North York,0.0,Golf Course,Mediterranean Restaurant,Dog Run,Pool,Comfort Food Restaurant,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store,Coffee Shop
7,North York,0.0,Coffee Shop,Middle Eastern Restaurant,Sushi Restaurant,Deli / Bodega,Bridal Shop,Bank,Sandwich Place,Restaurant,Ice Cream Shop,Vietnamese Restaurant
8,North York,0.0,Toy / Game Store,Electronics Store,Tea Room,American Restaurant,Burger Joint,Shopping Mall,Bakery,Movie Theater,Chocolate Shop,Pharmacy
9,North York,0.0,Vietnamese Restaurant,Coffee Shop,Metro Station,Caribbean Restaurant,Massage Studio,Bar,Miscellaneous Shop,Chinese Restaurant,Chocolate Shop,Clothing Store
10,North York,0.0,Chinese Restaurant,Japanese Restaurant,Bank,Café,Vietnamese Restaurant,Construction & Landscaping,Chocolate Shop,Clothing Store,Coffee Shop,Comfort Food Restaurant
11,North York,0.0,Business Service,Grocery Store,Park,Baseball Field,Electronics Store,Discount Store,Gym / Fitness Center,Home Service,Hotel,Food Truck
13,North York,0.0,Business Service,Grocery Store,Park,Baseball Field,Electronics Store,Discount Store,Gym / Fitness Center,Home Service,Hotel,Food Truck
14,North York,0.0,Trail,Bakery,Park,Construction & Landscaping,Basketball Court,Electronics Store,Event Space,Dog Run,Discount Store,Deli / Bodega
17,North York,0.0,Business Service,Grocery Store,Park,Baseball Field,Electronics Store,Discount Store,Gym / Fitness Center,Home Service,Hotel,Food Truck
18,North York,0.0,Restaurant,Comfort Food Restaurant,Juice Bar,Italian Restaurant,Indian Restaurant,Pub,Coffee Shop,Café,Sushi Restaurant,Thai Restaurant
20,North York,0.0,Café,Ramen Restaurant,Movie Theater,Japanese Restaurant,Indonesian Restaurant,Ice Cream Shop,Coffee Shop,Steakhouse,Grocery Store,Convenience Store
21,North York,0.0,Business Service,Grocery Store,Park,Baseball Field,Electronics Store,Discount Store,Gym / Fitness Center,Home Service,Hotel,Food Truck
23,North York,0.0,Coffee Shop,Grocery Store,Pharmacy,Discount Store,Bank,Pizza Place,Butcher,Vietnamese Restaurant,Caribbean Restaurant,Chinese Restaurant

In [58]:
NY_merged.loc[NY_merged['Cluster Labels'] == 1, NY_merged.columns[[1] + list(range(5, NY_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,North York,1.0,Bus Stop,Food & Drink Shop,Park,Vietnamese Restaurant,Comfort Food Restaurant,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store,Coffee Shop

In [59]:
NY_merged.loc[NY_merged['Cluster Labels'] == 2, NY_merged.columns[[1] + list(range(5, NY_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
19,North York,2.0,Furniture / Home Store,Baseball Field,Food Truck,Food & Drink Shop,Event Space,Electronics Store,Dog Run,Discount Store,Deli / Bodega,Café

In [ ]:
NY_merged.loc[NY_merged['Cluster Labels'] == 3, NY_merged.columns[[1] + list(range(5, NY_merged.shape[1]))]]